name: Name Dataset CI

on: [ push, pull_request ]

jobs:
  build:
    runs-on: Ubuntu-20.04
    strategy:
      max-parallel: 4
      matrix:
        python-version: [ 3.8.6 ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --max-complexity 20 --max-line-length 127 --statistics
      - name: Test with tox
        run: |
          pip install tox
          tox
